{% extends "base/base.html" %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block page_js %}
<script src="https://unpkg.com/htmx.org@2.0.1"></script>
<script src="{% static 'adminkit/datatables.js' %}"></script>
<script>
    $(document).ready( function (){
        $('#datatable-keyboards').DataTable({
            "responsive": true,
            "order": [[1, 'asc']],
            "columnDefs": [{
                'targets': 'no-sort',
                'orderable': false,
            }],
        });
    });
</script>
{% endblock page_js %}

{% block content %}
<div class="row">
    <div class="col-12 d-inline-flex justify-content-between">
        <h1 class="h3 mb-3"><span class="text-success">Keyboard Inventory</span> - {{request.user}}</h1>
        <div class="float-right">
            <a href="" class="btn btn-success"><i class="fas fa-plus me-1"></i>Add</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable-keyboards" class="table table-striped table-responsive no-footer">
                    <thead>
                        <tr>
                            <th class="no-sort"></th>
                            <th>Kit</th>
                            <th>PCB</th>
                            <th>Switches</th>
                            <th>Keycaps</th>
                            <th>Plate</th>
                            <th>Stabilizer</th>
                            <th>Mods</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kb in inventory %}
                        <tr>
                            <td class="text-center d-flex align-items-center">
                                <a href="{% url 'keyboard_detail' %}?{{kb.url_params}}"><i class="fas fa-edit"></i></a> 
                                <button class="btn btn-link p-0 ms-1" hx-post="{% url 'keyboard_delete' %}?{{kb.url_params}}" hx-confirm="Delete? The data will be unrecoverable."><i class="fas fa-trash text-primary"></i></button>
                            </td>
                            <td {% if kb.kit_str %} 
                                hx-get="{% url 'part_detail' %}?{{kb.kit_url_params}}"
                                hx-target="#info-modal"
                                hx-trigger="click"
                                data-bs-toggle="modal"
                                data-bs-target="#info-modal"
                                class="hoverable"
                                {% endif %}>
                                {{kb.kit_str}}
                            </td>
                            <td>{{kb.pcb}}</td>
                            <td {% if kb.switches_str %} 
                                hx-get="{% url 'part_detail' %}?{{kb.switches_url_params}}"
                                hx-target="#info-modal"
                                hx-trigger="click"
                                data-bs-toggle="modal"
                                data-bs-target="#info-modal"
                                class="hoverable"
                                {% endif %}>
                                {{kb.switches_str}}
                            </td>
                            <td {% if kb.keycaps_str %} 
                                hx-get="{% url 'part_detail' %}?{{kb.keycaps_url_params}}"
                                hx-target="#info-modal"
                                hx-trigger="click"
                                data-bs-toggle="modal"
                                data-bs-target="#info-modal"
                                class="hoverable"
                                {% endif %}>
                                {{kb.keycaps_str}}
                            </td>
                            <td {% if kb.plate_str %} 
                                hx-get="{% url 'part_detail' %}?{{kb.plate_url_params}}"
                                hx-target="#info-modal"
                                hx-trigger="click"
                                data-bs-toggle="modal"
                                data-bs-target="#info-modal"
                                class="hoverable"
                                {% endif %}>
                                {{kb.plate_str}}
                            </td>
                            <td {% if kb.stabilizer_str %} 
                                hx-get="{% url 'part_detail' %}?{{kb.stabilizer_url_params}}"
                                hx-target="#info-modal"
                                hx-trigger="click"
                                data-bs-toggle="modal"
                                data-bs-target="#info-modal"
                                class="hoverable"
                                {% endif %}>
                                {{kb.stabilizer_str}}
                            </td>
                            <td>mods not implemented</td>
                            <td>{{kb.notes}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="info-modal" class="modal modal-blur fade" style="display:none;" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock content %}