{% extends "base/base.html" %} {% load static %}
{% block page_title%}{{page_title}}{% endblock page_title %}
{% block page_js %}
<script src="{% static 'htmx-2.0.1.min.js' %}" defer></script>
<script>
    function showDetailModal() {
      document.getElementById('detail-dialog').showModal();
    }
</script>
{% endblock page_js %}
{% block content %}
<div class="w-full flex justify-between items-center">
    <h1 class="h3 mb-3">
        <span class="text-[#dc143c] font-semibold">Parts Inventory</span> -
        {{request.user}}
    </h1>
    <a href="#" class="btn"
        ><i class="fas fa-plus me-1"></i>Add</a
    >
</div>
<div class="w-full mt-4">
    <div class="card">
        <section>
            <table
                id="table-parts"
                class="table"
            >
                <thead>
                    <tr>
                        <th
                            class="no-sort text-nowrap"
                            style="width: 1px"
                        ></th>
                        <th class="col-1">Type</th>
                        <th class="col-2">Name</th>
                        <th
                            class="text-center text-nowrap"
                            style="width: 1px"
                        >
                            Quantity
                        </th>
                        <th class="col-8">Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <a href=""
                                ><i class="fas fa-magnifying-glass"></i
                            ></a>
                        </td>
                        <td>Switch</td>
                        <td>Trash Linear</td>
                        <td class="text-center">5</td>
                        <td>53gf, nylon top, nylon bottom</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href=""
                                ><i class="fas fa-magnifying-glass"></i
                            ></a>
                        </td>
                        <td>Stabilizer</td>
                        <td>Durock</td>
                        <td class="text-center">1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href=""
                                ><i class="fas fa-magnifying-glass"></i
                            ></a>
                        </td>
                        <td>Kit</td>
                        <td>V4N4G0N</td>
                        <td class="text-center">1</td>
                        <td>Black thermal 3DP PLA case</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href=""
                                ><i class="fas fa-magnifying-glass"></i
                            ></a>
                        </td>
                        <td>Kit</td>
                        <td>V4N4G0N</td>
                        <td class="text-center">1</td>
                        <td>Frosted stacked acrylic case</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<dialog id="detail-dialog" class="dialog" aria-labelledby="detail-dialog-title" aria-describedby="detail-dialog-description" onclick="if (event.target === this) this.close()">
</dialog>

{% endblock content %}
