{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block page_title %}
    {% trans "Change Password" %}
{% endblock page_title %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% comment %} {% element fields form=form %}
            {% endelement %} {% endcomment %}
            <div class="mb-3">
                <label class="form-label fw-bold">Current password</label>
                <input class="form-control" type="password" name="oldpassword" placeholder="" autocomplete="current-password" required="" id="id_oldpassword">
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold">New password</label>
                <input class="form-control" type="password" name="password1" placeholder="" required="" id="id_password1">
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold">Confirm new password</label>
                <input class="form-control" type="password" name="password2" placeholder="" required="" id="id_password2">
            </div>
            <ul class="list-group mx-2">
                <li class="list-item">
                    Your password can't be too similar to your other personal information.
                </li>
                <li class="list-item">
                    Your password must contain at least 8 characters.
                </li>
                <li class="list-item">
                    Your password can't be a commonly used password.
                </li>
                <li class="list-item">
                    Your password can't be entirely numeric.
                </li>
            </ul>
        {% endslot %}
        {% slot actions %}
        <div class="mt-2">
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
            <a class="btn btn-secondary mx-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
        {% endslot %}
    {% endelement %}
{% endblock content %}
