<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-success fw-bold">Detail: {{part_title}}</h5>
        </div>
        <div class="modal-body">
            <table class="table table-sm table-responsive no-footer">
                {% for f,v in fields.items %}
                    <tr>
                        <th class="col-3">{{f}}</th>
                        <td>
                            {% if v == True %}
                            <i class="fas fa-check text-success"></i>
                            {% elif v == False %}
                            <i class="fas fa-x text-danger"></i>
                            {% else %}
                            {{v}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>